.booklist{
    padding: 30px 0px;
    text-decoration: none;
    color: black;

}
.title{
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
}
.grey-font{
    color: grey;
    padding-right: 5px;
}
.booklist .b{
    margin: 30px 0px;
    display: flex;
    align-items: center;

}
.booklist .category{
    margin:30px 0px;
}
.a{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* color:red; */
    /* border:1px solid gray; */
    text-align: center;
    
   
   
}
.arrow{
    width: 40px;
    display: flex;
    justify-content: center;
    border:1px solid gray;
    border-radius: 10px;
}
a, a:hover{
    color: black;
    text-decoration: none;
}
